@using EED.Ui.Web.Helpers
@model EED.Ui.Web.Models.Project.ListViewModel


@{
    ViewBag.Title = "Projects";
}

@section filter {
    @Html.Partial("_FilterPartial")
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {    
<table>
    <tr>
        <td>@Html.ActionLink("Add New", "Create", null, 
                new { @class = "imageBarNew", title = "Add new" })</td>
        <td><input type="submit" value="Delete Selected" name="action:DeleteSelected" 
                title="Delete Selected" class="imageBarDelete" /></td>
        
    </tr>
    @if (Model.Projects.Count() != 0)
    {
    <tr>
        <th><input type="checkbox" name="checkAllInputs" id="cbSelectAll"/></th>
        <th>Actions</th>
        <th>Name</th>
        <th>Jurisdiction</th>
        <th>Election Date</th>
    </tr>
    foreach (var p in Model.Projects)
    {
        <tr>
            <td><input type="checkbox" name="deleteInputs" value="@p.Id" class="cbSelectRow" /></td>
            <td>
                @Html.ActionLink("Open", "Open", new { id = p.Id }, 
                    new { @class = "imageView", title = "Open" })
                @Html.ActionLink("Edit", "Edit", 
                    new { id = p.Id }, new { @class = "imageEdit", title = "Edit Details" })
                @Html.ActionLink("Delete", "Delete", new { id = p.Id }, 
                    new { @class = "imageDelete", title = "Delete" })
                <!--Ajax.ActionLink("Delete", "Delete", 
                        new { deleteInputs = new int[]{ p.Id } }, 
                        new AjaxOptions { HttpMethod = "POST", 
                            Confirm = "Are you sure you want to delete this item?", 
                            OnSuccess="window.location.reload()" }, 
                        new { class = "imageDelete", title = "Delete" })-->
                <!--Html.Hidden("Id", p.Id)-->
                <!--<input type="submit" value="Delete" name="action:Delete" title="Delete" class="imageDelete" />-->
            </td>
            <td>@Html.ActionLink(p.Name, "Open", new { id = p.Id }, new { title = "Open Project" })</td>
            <td>@p.JurisdictionName</td>
            <td>@p.Date.ToLongDateString()</td>
        </tr>
    }
    } @if ((Model.Projects.Count() == 0)) {
      <tr><td>There are no projects created.</td></tr>
}
</table>
    }

@section Scripts {
    @Scripts.Render("~/Scripts/selectCheckboxes.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}