@model EED.Ui.Web.Models.Project.ListViewModel

@{
    ViewBag.Title = "Projects";
}

@section featured {
    @Html.Partial("_FilterPartial")
}

<p>
    @Html.ActionLink("Add New Project", "Create")
</p>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@if (Model.Projects.Count() != 0) {
<table>
    <tr>
        <th>Name</th>
        <th>Jurisdiction</th>
        <th>Election Date</th>
        <th>Action</th>
    </tr>
    @foreach (var p in Model.Projects) {
        <tr>
            <td>@Html.ActionLink(p.Name, "Edit",  new { id = p.Id })
            </td>
            <td>@p.JurisdictionName</td>
            <td>@p.Date.ToLongDateString()</td>
            <td>
                @using (Html.BeginForm("Delete", "Project")) {
                    @Html.Hidden("Id", p.Id)
                    @Html.Hidden("Name", p.Name)
                    <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }
</table>
} @if ((Model.Projects.Count() == 0)) {
      <p>There are no projects created.</p>
}