@model EED.Ui.Web.Models.Districts.CreateViewModel

<hgroup class="title">
    <h1>@ViewBag.Title @Model.Name</h1>
</hgroup>

@using (Html.BeginForm("Edit", "District")) {
    @Html.ValidationSummary(true);
    <fieldset>
        <legend>District</legend>
        
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Abbreviation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Abbreviation)
            @Html.ValidationMessageFor(model => model.Abbreviation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictTypeId)
        </div>
        @if (Model.Id != 0 && Model.ParentDistrictId == 0) {
            <div class="editor-field">
                @Html.DropDownListFor(model => model.DistrictTypeId, Model.DistrictTypes, string.Empty, new { id = "ddlDistrictType", disabled = "disabled"  })
            </div>
        } else {
            <div class="editor-field">
                @Html.DropDownListFor(model => model.DistrictTypeId, Model.DistrictTypes, string.Empty, new { id = "ddlDistrictType", onchange = "javascript:GetParentDistrict(this.value);"  })
                @Html.ValidationMessageFor(model => model.DistrictTypeId)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.ParentDistrictId)
            </div>
            <div class="editor-field">
                @if (Model.ParentDistrictId != 0) {
                        @Html.HiddenFor(model => model.ParentDistrictId);
                    }
                @Html.DropDownListFor(model => model.ParentDistrictId, Model.ParentDistricts, string.Empty, new { id = "ddlParentDistrict", onchange = "javascript:SetParentDistrictId(this.value);"})
                @*<select id="ddlParentDistrict" name="ddlParentDistrict" >
                </select>*@
                @Html.ValidationMessageFor(model => model.ParentDistrictId)
            </div>
        }
        
        <p>
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel and Return to District List", "List")
        </p>
    </fieldset> 
}

@section Scripts {
    @Scripts.Render("~/Scripts/changeParentDistrictDropBoxValue.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/jqueryval")
}
