@using EED.Ui.Web.Helpers.Pagination
@model EED.Ui.Web.Models.District.ListViewModel

@{
    ViewBag.Title = "Districts";
}

@section filter {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Filter @ViewBag.Title</h2>
            </hgroup>
            @using (Html.BeginForm("List", "District", FormMethod.Get))
            {
                @Html.LabelFor(m => m.SearchText)
                @Html.TextBoxFor(m => m.SearchText)
                
                @Html.LabelFor(m => m.DistrictTypeId)
                @Html.DropDownListFor(m => m.DistrictTypeId, Model.DistrictTypes, string.Empty)
                
                <input type="submit" value="Search" />
            }
        </div>
    </section>
}

@section leftMenu {
    @Html.Partial("_LeftSideMenuPartial")
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("Delete", "District")) {    
<table>
    <tr>
        <td>@Html.ActionLink("Add New", "Create", null, 
                new { @class = "imageBarNew", title = "Add new" })</td>
        <td><input type="submit" value="Delete" title="Delete Selected" class="imageBarDelete" /></td>
    </tr>
    <tr>
        <th><input type="checkbox" name="checkAllInputs" id="cbSelectAll"/></th>
        <th>Actions</th>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>District Type</th>
        <th>Parent District</th>
    </tr>
    @foreach (var d in Model.DistrictsPerPage)
    {
        <tr>
            @if(d.ParentDistrict != null) {
                <td><input type="checkbox" name="deleteInputs" value="@d.Id" class="cbSelectRow" /></td>
            } else {
                <td></td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", 
                    new { id = d.Id }, new { @class = "imageEdit", title = "Edit" })
                @if(d.ParentDistrict != null) {
                    //Html.ActionLink("Delete", "Delete", new { id = d.Id }, 
                    //    new { @class = "imageDelete", title = "Delete" })

                    string question;
                    if (d.ChildDistricts.Count != 0) {
                        question = "The item contains child districts which will be also deleted. Are you sure you want to continue?";
                    } else {
                        question = "Are you sure you want to delete this item?";
                    }
                    @Ajax.ActionLink("Delete", "Delete", 
                        new { id = d.Id }, 
                        new AjaxOptions { 
                            Confirm = question, 
                            OnSuccess="window.location.reload()" }, 
                        new { @class = "imageDelete", title = "Delete" })
                }
            </td>
            <td>@Html.ActionLink(d.Name, "Edit", new { id = d.Id }, new { title = "Edit" })</td>
            <td>@d.Abbreviation</td>
            <td>@d.DistrictType.Name</td>
            @if(d.ParentDistrict != null) {
                <td>@d.ParentDistrict.Name</td>
            } else {
                <td></td>
            }
        </tr>
    }
</table>
}

<div class="pager">
    @{var pageInfo = Model.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("List", "District", new {
        SearchText = Model.SearchText, 
        DistrictTypeId = Model.DistrictTypeId,
        Page = x}))
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/selectCheckboxes.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}