@using EED.Ui.Web.Helpers.Pagination
@model EED.Ui.Web.Models.Contests.ListViewModel

@section filter {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Filter @ViewBag.Title</h2>
            </hgroup>
            @using (Html.BeginForm("List", "Contest", FormMethod.Get))
            {
                @Html.LabelFor(m => m.SearchText)
                @Html.TextBoxFor(m => m.SearchText)
                
                @Html.LabelFor(m => m.OfficeId)
                @Html.DropDownListFor(m => m.OfficeId, Model.Offices, string.Empty)
                
                <input type="submit" value="Search" />
            }
        </div>
    </section>
}

@section leftMenu {
    @Html.Partial("_LeftSideMenuPartial")
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("Delete", "Contest")) {    
<table>
    <tr>
        <td>@Html.ActionLink("Add New", "Create", null, 
                new { @class = "imageBarNew", title = "Add new" })</td>
        <td><input type="submit" value="Delete" title="Delete Selected" class="imageBarDelete" /></td>
    </tr>
    <tr>
        <th><input type="checkbox" name="checkAllInputs" id="cbSelectAll"/></th>
        <th>Actions</th>
        <th>Name</th>
        <th>Office</th>
        <th>Number of Positions</th>
        <th>District</th>
    </tr>
    @foreach (var c in Model.ContestsPerPage)
    {
        <tr>
            <td><input type="checkbox" name="deleteInputs" value="@c.Id" class="cbSelectRow" /></td>
            <td>
                @Html.ActionLink("Edit", "Edit", 
                    new { id = c.Id }, new { @class = "imageEdit", title = "Edit" })
                @{
                    string question;
                    if (c.Choices.Count != 0)
                    {
                        question = "The item contains choices which will be also deleted. Are you sure you want to continue?";
                    }
                    else
                    {
                        question = "Are you sure you want to delete this item?";
                    }
                    
                    @Ajax.ActionLink("Delete", "Delete", 
                        new { id = c.Id }, 
                        new AjaxOptions { 
                            Confirm = question, 
                            OnSuccess="window.location.reload()" }, 
                        new { @class = "imageDelete", title = "Delete" })
                }
            </td>
            <td>@Html.ActionLink(c.Name, "Edit", new { id = c.Id }, new { title = "Edit" })</td>
            <td>@c.Office.Name</td>
            <td>@c.NumberOfPositions</td>
            <td>@c.District.Name</td>
        </tr>
    }
</table>
}

<div class="pager">
    @{var pageInfo = Model.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("List", "Contest", new {
        SearchText = Model.SearchText, 
        OfficeId = Model.OfficeId,
        Page = x}))
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/selectCheckboxes.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}