@using EED.Domain
@using EED.Ui.Web.Helpers.Pagination
@model EED.Ui.Web.Models.ListViewModel

@section featured {
    @Html.Partial("_FilterPartial")
}

<p>
    @Html.ActionLink("Add New User", "Create")
</p>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    @foreach (var u in Model.Users) {
        <tr>
            <td>@Html.ActionLink((u.Name + " " + u.Surname), "Edit",  new { id = u.Id })
            </td>
            <td>@u.Email</td>
            <td>@u.State @u.Country</td>
            <td>
                @using (Html.BeginForm("Delete", "User")) {
                    @Html.Hidden("Id", u.Id)
                    @Html.Hidden("Name", u.Name)
                    @Html.Hidden("Surname", u.Surname)
                    @Html.Hidden("Username", u.UserName)
                    <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }
</table>

<div class="pager">
    @{var pageInfo = Model.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("List", "User", new {
        searchText = Model.SearchText, 
        page = x}))
</div>
