@using EED.Ui.Web.Pagination
@model IEnumerable<EED.Domain.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.Name @p.Surname</h3>
        @p.State 
        @p.Country
        <h4>@p.Email</h4>
    </div>
}

<div class="pager">
    @{PagingInfo pageInfo = (PagingInfo)ViewBag.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("Users", new {page = x}))
</div>
