@using EED.Domain
@using EED.Ui.Web.Helpers.Pagination
@model EED.Ui.Web.Models.UsersListViewModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Filter users</h2>
            </hgroup>
            @using (Html.BeginForm("Users", "User", FormMethod.Get))
            {
                @Html.TextBoxFor(m => m.SearchText)
                <input type="submit" value="Search" />
            }
        </div>
    </section>
}

@if (TempData["message"] != null) {
    <div class="message-success">@TempData["message"]</div>
}

<p>
    @Html.ActionLink("Add New User", "Create")
</p>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    @foreach (var u in Model.Users) {
        <tr>
            <td>@Html.DisplayFor(model => u.Name) 
                @Html.DisplayFor(model => u.Surname)
            </td>
            <td>@Html.DisplayFor(model => u.Email)</td>
            <td>@Html.DisplayFor(model => u.State) 
                @Html.DisplayFor(model => u.Country)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = u.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = u.Id })
            </td>
        </tr>
    }
</table>

<div class="pager">
    @{var pageInfo = Model.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("Users", "User", new {
        searchText = Model.SearchText, 
        page = x}))
</div>
