@using EED.Domain
@using EED.Ui.Web.Pagination
@model IEnumerable<EED.Domain.User>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@foreach (var u in Model)
{
    <div class="item">
        <h3>@u.Name @u.Surname</h3>
        @u.State 
        @u.Country
        <h4>@u.Email</h4>
    </div>
}

<div class="pager">
    @{var pageInfo = (PagingInfo)ViewBag.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("Users", new {page = x}))
</div>
