@using EED.Domain
@using EED.Ui.Web.Helpers.Pagination
@model EED.Ui.Web.Models.UsersListViewModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Filter users</h2>
            </hgroup>
            @using (Html.BeginForm("Users", "User", FormMethod.Get))
            {
                @Html.TextBoxFor(m => m.SearchText)
                <input type="submit" value="Search" />
            }
        </div>
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@foreach (var u in Model.Users)
{
    <div class="item">
        <h3>@u.Name @u.Surname</h3>
        @u.State 
        @u.Country
        <h4>@u.Email</h4>
    </div>
}

<div class="pager">
    @{var pageInfo = Model.PagingInfo;}
    @Html.PageLinks(pageInfo, x => Url.Action("Users", new {
        searchText = Model.SearchText, 
        page = x}))
</div>
