@model EED.Ui.Web.Models.Political_Party.CreateViewModel

<hgroup class="title">
    <h1>@ViewBag.Title @Model.Name</h1>
</hgroup>

@using (Html.BeginForm("Edit", "PoliticalParty", FormMethod.Post, 
    new { id = "form", enctype="multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Political Party</legend>

        @Html.HiddenFor(model => model.Id)

        <div style="float: left">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Abbreviation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Abbreviation)
            @Html.ValidationMessageFor(model => model.Abbreviation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Image, new { type = "file", accept = "image/*", id="imgInp" })
            @Html.ValidationMessageFor(model => model.Image)
        </div>
            
        <p>
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel and Return to Political Party List", "List")
        </p>
        </div>
        @if (Model.HasImage)
        {
            <div style="float: left; margin: 0px 0px 0px 100px">
                <img src="@Url.Action("ShowImage", "PoliticalParty", new { id = Model.Id })" id="image" height="200" width="200" alt="Saved Logo" />
            </div>
        }
        else
        {
            <div id="divImg" style="float: left; margin: 0px 0px 0px 100px; display: none">
                <img src="@Url.Action("ShowImage", "PoliticalParty", new { id = Model.Id })" id="hiddenImage" height="200" width="200" alt="Saved Logo" />
            </div>
        }
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/Scripts/updateImage.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/jqueryval")
}
